@{
    ViewData["Title"] = "Home Page";
    string hostname = WebHelper.DisplayLocalHostName();
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p class="p-3 mb-2 bg-primary text-white">You get this page from machine <b>@hostname</b>.</p>
        <p>Type F5 to load-balance</p>
        <p>Find the project on github <a href="https://github.com/danmgs/AWS.Pipeline.CloudFormation" target="_blank">here</a>&nbsp;<i class="fab fa-github-alt"></i></p>
    </div>
