@model app.Web.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p class="p-3 mb-2 bg-primary text-white">
        You get this page from machine <b>@Model.ServerHostname</b><br />
        You are requesting from machine <b>@Model.ClientIp</b>
    </p>
    <p>Type F5 to load-balance</p>
    <p>Find the project on github <a href="https://github.com/danmgs/AWS.Pipeline.CloudFormation" target="_blank">here</a>&nbsp;<i class="fab fa-github-alt"></i></p>

</div>
