@{
    ViewData["Title"] = "Home Page";
    string hostname = Utils.DisplayLocalHostName();
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p class="p-3 mb-2 bg-primary text-white">You get this response from machine @hostname.</p>
        <p>Type F5 to load-balance</p>
    </div>
